*{margin:0;padding: 0;}

body{
	overflow-y: scroll;
	font-family: "Microsoft Yahei","微软雅黑",SimHei,"黑体","Hiragino Sans GB",STHeiTi,sans-serif;
	
}
@media  screen and (min-width: 1024px) {
	body{
		background-image: url(../img/bg.png);
		background-repeat:no-repeat;
		background-attachment: fixed;
	}
}

#leaf{
	position: fixed;
	left: 40%;
	top: 5%;
}
#poster{
	/*position: absolute;*/
	margin-left: 25%;
	margin-top: 6%;
	width: 500px;
	height: 200px;
	border:3px #A9A6A6 dotted;
	border-radius: 10px;
	text-align: center;
	font-size: 40px;
	line-height: 40px;
	font-family: "华文琥珀","华文彩云",sans-serif;
	padding-top: 45px;
	color: #32A3AA;
	text-shadow: -2px -2px 3px black;
}

/*播放器	*/
audio{
	position: fixed;
	right: 2%;
	top:2%;
	opacity: 0.3;
	border-radius: 15px;
	position: flex;
	z-index: 2;
}
#cv{
	border:3px #A9A6A6 dotted;
	width: 75%;
	height: auto;
	margin:50px auto;
	opacity: 0.8;
	background-color:#C9C8C8;
	padding: 30px;
}

/*头像	*/
	#picture{
		width: 150px;
		height: 150px;
		border-radius: 75px;
		border:3px #A9A6A6 groove;
		margin: 30px auto;
		overflow: hidden;
	}
	#picture img{
		width: 150px;
	}
/*个人信息*/
	#message{
		width: 85%;
		font-size: 37px;
		border:2px #A9A6A6 dotted;
		text-align: center;
		margin: 40px auto;
		color: #535353;
	}
	#message li{
		list-style: none;
		display: inline-block;
		margin: 20px;
	}
	#message li b{
		font-size: 30px;
		color: #373737;
	}	

fieldset{
		padding: 25px;
		margin: 0 auto;
		width: 80%;
		margin-bottom: 40px;
	}
/*教育经历	*/
#expecrise p{
    font-size: 20px;
}

/*技能部分*/
#ability{
	height: 670px;
}
	#ability ul{
		list-style: none;
	}
	#ability ul li{
		margin-bottom: 20px;
		height: 40px;
		width: 80%;
		border-radius: 20px;
		background-color:#EDF0FF;
		font-size: 25px;
	}
	#ability div{
		box-sizing: border-box;
		height: inherit;
		border-radius: 20px;
		padding-left: 20px;
		padding:-top: 20%;
		font-weight:bold;
		line-height: 40px;
	}
	#ability li:nth-of-type(1) div{
		background-color:#F11E55;
		width: 70%;
	}
	#ability li:nth-of-type(2) div{
		background-color: #F89A55;
		width: 85%;
	}
	#ability li:nth-of-type(3) div{
		background-color: #55F8B8;
		width: 80%;
	}
	#ability li:nth-of-type(4) div{
		background-color: #5565F8;
		width: 75%;
	}
	#ability li:nth-of-type(5) div{
		background-color: #55F886;
		width: 50%;
	}
	#ability li:nth-of-type(6) div{
		background-color: #D9F855;
		width: 40%;
	}
	#ability li:nth-of-type(7) div{
		background-color: #F855CC;
		width: 35%;
	}
	#ability li:nth-of-type(8) div{
		background-color: #762BE5;
		width: 30%;
	}
	#ability li:nth-of-type(9) div{
		background-color: #5E8A1A;
		width: 30%;
	}

/*项目*/
#project dl{
	float: left;
	margin: 30px;
}
#project dt{
	font-size: 20px;
	font-weight: bold;
}
#project dd{
	margin: 20px;
}
#hobby p{
	
	}

/*尾部	*/
footer{
	text-align: center;
}
	footer span{
		margin-bottom: 15px;
	}


