dl,
dt,
dd,
h1,
h2 {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica;
}


/*dl,dt,dd,h1,h2{
	display: block;
}*/

h2 {
    margin: 20px 0;
}

dl {
    zoom: 1;
    overflow: auto;
}

dt {
    font-weight: bold;
}

#message dt,
#message dd,
#contact-way dt,
#contact-way dd {
    float: left;
}

#message dd,
#contact-way dd {
    margin-left: 10px;
    margin-right: 30px;
}

#ability dd:nth-of-type(1),
#education dd:nth-of-type(1),
#project dd:nth-of-type(1) {
    margin-bottom: 15px;
}

/*控制样式变换的按钮*/
button{
	position: absolute;
	right: 10%;
	top: 20%;
	width:100px;
	height: 30px;
	border-radius: 15px;
	background-color: #7EF1EB;
	opacity: 0.8; 
	}
button:nth-of-type(2){
	top: 25%;
}
button:nth-of-type(3){
	top: 30%;
}