#box{
	position: absolute;
	width: 300px;
	height: 200px;
	left: 50%;
	top: 50%;
	margin-left: -150px;
	margin-top: -150px;
	text-align: center;
}

#underline{
	/*width: 150px;*/
	display: inline-block;
	height: 0px;
	width: 0px;
	border-width:2px;
	border-color: #0568D0;
	margin-top: 50px;

	-webkit-transition-property: width;
	-moz-transition-property: width;
	transition-property: width;
	-webkit-transition-duration: 0.5s;
	-moz-transition-duration: 0.5s;
	        transition-duration: 0.5s;

}
label{
	
	font-weight: bolder;
	font-size: 30px;
	display: block;
	position: absolute;
	left: 50%;
	margin-left: -75px;
	width: 150px;
	height: 35px 
	-webkit-transition-property: color;
	-moz-transition-property: color;
	transition-property: color;
	-webkit-transition-duration: 0.5s;
	-moz-transition-duration: 0.5s;
	        transition-duration: 0.5s;
}
button{
	position: absolute;
	width: 120px;
	height: 40px;
	border-radius: 5px;
	font-weight: bolder;
	line-height: 100%;
	font-size: 20px;
	left: 50%;
	top: 40%;
	margin-left: -60px;
}
